*{
  box-sizing: border-box;
  margin:0;
  padding: 0;

}

/*Whole object(search bar, buttons, logo)*/
.object{
  margin-top:0px;
  position: absolute;
}

/*Google Logo*/
 #pic{
  position: relative;
}

#logo{
  position: absolute;
  top: 180px;
  left: 520px;
  width: 300px;
}
 



/*Search bar*/
#search{
 margin-top: 275px;
 margin-left: 400px;
 width: 550px;
 height: 40px;
 border-radius: 20px;
 font-size: large;
 padding: 15px;
 background-color: white;
 box-shadow: 0 0 1.2px rgba(0, 0, 0, 0.6);
 border: none;
 outline: none;
}

#search:hover{
  box-shadow: 0 0 3.5px rgba(0, 0, 0, 0.6);
}




/*Buttons*/
.btns{
  margin-left: 535px;
  margin-top: 30px;
  border: none;
  
  
}

#btn-1{
  width: 125px;
  height: 40px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  font-family: sans-serif;
  font-size: 15px;
  color: grey;
  cursor: pointer;
}

#btn-2{
  width: 135px;
  height: 40px;
  border: none;
  border-radius: 4px;
  font-family: sans-serif;
  font-size: 15px;
  color: grey;
  cursor: pointer;
}



#btn-1:hover{
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.6); 
  color: black;
}

#btn-2:hover{
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.6); 
  color: black;
}

#head{
  display: flex;
  align-items: center;
  float: right;
  margin-right: 90px;
  margin-top: 10px;
  padding: 5px;
  
  
}


ul li{
  text-decoration: none;
  list-style-type: none;
  display: inline;
  padding:10px;
  font-family: sans-serif;
  font-size: 14px;
  cursor: pointer;
}

li a{
  color: black;
  cursor: pointer;
}



#dots{
  width:20px;
  margin-left: 0px;
  margin-top: 3px;
  
  
}

#sign{
  width: 60px;
  height: 25px;
  background-color: rgb(6, 108, 224);
  color: white;
  font-family: sans-serif;
  border:none;
  margin-left:1290px;
  margin-top: 15px;
  display: inline;
  cursor: pointer;
  border-radius: 3px;
  font-size: 14px;
  outline: none;
}

#foot{
  position: absolute;
  background-color: #f1f1f1;
  bottom: 37px;
  width: 1366px;
  border: 1px solid grey;

}

#h1{
  font-family: sans-serif;
  font-size: 16px;
  color: grey;
  margin: 9px;
  margin-left: 30px;
  font-weight: normal;
  
}

#foot2{
  position: absolute;
  background-color: #f1f1f1;
  bottom: 0px;
  width: 1366px;
  border: 1px solid grey;

}

#linksleft{
  font-family: sans-serif;
  font-size: 16px;
  
  margin: 9px;
  margin-left: 20px;
}

#linksleft a{
  font-family: sans-serif;
  font-size: 16px;
  text-decoration: none;
  color: grey;
  
}

#lr{
  float: right;
}

